bin/
obj/
*.db
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
.env
secrets.json
appsettings.Development.json
appsettings.Production.json
appsettings.Staging.json
*.sqlite
*.mdf
*.ldf
/.idea
/.vscode
/.vs
TestResults/
